* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #6a11cb rgb(34, 34, 34);
}

html {
    scroll-behavior: smooth;
}


/* Main Section */

.main-section {
    background: linear-gradient(rgba(2, 6, 23, .75)), url('aboutpage-main-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 94vh;
    background-position: bottom;
}

/* Header Section */

.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1050;
  top: 0;
  height: 15vh;
  background: linear-gradient(rgba(8, 6, 28, 1));
}

.logo-container {
  position: relative;
  display: inline-block;
}


.logo {
  width: 50%;
  margin-left: 10px;
}

.web-name1 {
  position: absolute;
  bottom: 40px;
  font-family: monospace;
  color: rgb(36, 1, 36);
  font-size: 17px;
  left: 80px;
  background: linear-gradient(135deg, #d6d0dc 100%, #2575fc 50%);
  background-clip: text;
  color: transparent;
  display: inline-block;
  letter-spacing: 0.5px;
}

.web-name {
  position: absolute;
  bottom: 15px;
  font-family: cursive;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  left: 80px;
  display: inline-block;
  font-family: monospace;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  backdrop-filter: blur(20px);
  margin-right: 105px;
  padding: 0px 45px;
  border-radius: 35px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: whitesmoke;
  padding-top: 15px;
  letter-spacing: 0.5px;
}

ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  letter-spacing: 0.5px;
}

ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.5s ease;
  cursor: pointer;
  position: relative;
  pointer-events: auto;
  z-index: 10;
}

ul li a:hover {
  filter: drop-shadow(0px 0px 5px rgb(110, 30, 110));
  transform: scale(1.15);
}

.dropdown-menu {
  background: linear-gradient(rgba(2, 6, 23, 1));
  font-family: 'JetBrains Mono', monospace;
  line-height: 30px;
  border-radius: 10px;
  animation: ani 0.5s ease forwards;
  transition: all 0.5s ease;
}

.dropdown-item {
  transition: all 0.5s ease;
}

.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

#emoji-dropdown {
  background: linear-gradient(135deg, #6a11cb 100%, #2575fc 50%);
  background-clip: text;
  color: transparent;
}

.get-started {
  white-space: nowrap;
  margin-right: 40px;
  background: linear-gradient(135deg, #6a11cb 100%, #2575fc 50%);
  padding: 12px 15px;
  border-radius: 5px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  transition: all 0.5s ease;
  position: relative;
  cursor: pointer;
}


.get-started:hover {
  background-color: rgb(110, 30, 110);
  transform: translateY(-5%);
  filter: drop-shadow(0px 0px 2px white);
  opacity: 0.9;
}

.get-started-link {
  color: white;
  text-decoration: none;
}


/* About main Section */

.about-us {
    background: linear-gradient(135deg, #6a11cb, #9644e2);
    background-clip: text;
    color: transparent;
    filter: drop-shadow(0px 0px 1px #6a11cb);
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    padding-top: 145px;
    letter-spacing: 1px;
}

.about-us-text {
    color: #f8fafc;
    font-family: 'JetBrains Mono', monospace;
    font-size: 18px;
    opacity: 0.9;
    letter-spacing: 0.5px;
    text-shadow: 0px 0px 8px rgba(199, 166, 255, 0.35);
    line-height: 30px;
}

.start-learning {
    background: linear-gradient(135deg, #6a11cb 100%, #2575fc 50%);
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    margin-top: 15px;
    padding: 12px 20px;
    border: none;
    font-size: 15px;
    transition: all 0.5s ease;
}

.start-learning:hover {
    background-color: rgb(110, 30, 110);
    transform: translateY(-5%);
    filter: drop-shadow(0px 0px 2px white);
    opacity: 0.9;
}

.start-learning-link {
    text-decoration: none;
    color: white;
}


.contact-info {
    margin-right: 40px;
    background: transparent;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-left: 30px;
    margin-top: 15px;
    padding: 11px 20px;
    border: 2px solid white;
    font-size: 15px;
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
}

.contact-info:hover {
    background: linear-gradient(135deg, #6a11cb 100%, #2575fc 50%);
    transform: translateY(-5%);
    filter: drop-shadow(0px 0px 2px white);
    opacity: 0.9;
}

.contact-info-link {
    text-decoration: none;
    color: white;
}

.main-review-img {
    margin-top: 15px;
    margin-left: 30px;
    position: relative;
    display: inline-block;
}

.main-review-img1,
.main-review-img2,
.main-review-img3,
.main-review-img4,
.main-review-img5 {
    width: 34px;
    height: 34px;
    border-radius: 17px;
}

.main-review-img2 {
    position: absolute;
    left: 25px;
}

.main-review-img3 {
    position: absolute;
    left: 45px;
}

.main-review-img4 {
    position: absolute;
    left: 65px;
}

.main-review-img5 {
    position: absolute;
    left: 85px;
}

.review-figure {
    display: inline-block;
    margin-left: 110px;
    vertical-align: bottom;
}



/* Marquee Section */

.marquee-container {
    background: linear-gradient(135deg, #6a11cb, #9644e2);
}

marquee div {
    display: flex;
    gap: 30px;
    color: white;
}


/* whatapp btn */

/* Whatsapp-btn */

#whatsappbtn {
    font-size: 28px;
    position: fixed;
    bottom: 55px;
    right: 25px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: #25D366;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease;
}

#whatsappbtn.show {
    opacity: 1;
    transform: translateY(-20%);
    pointer-events: auto;
}

.whatsapp-btn:hover {
    transform: scale(1.1);
}

/* Arrow-top */

#scrolltotop {
    position: fixed;
    background: linear-gradient(135deg, #6a11cb 100%, #2575fc 50%);
    z-index: 1000;
    font-size: 13px;
    right: 40px;
    top: 460px;
    color: white;
    backdrop-filter: blur(20px);
    padding: 5px 9px;
    border-radius: 45px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#scrolltotop.show {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-40%);
}

.about-first-imgs {
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.about-img1 {
    width: 60%;
    border-radius: 10px;
    margin-left: 50px;
}

.about-img2 {
    width: 20%;
    border-radius: 10px;
    position: absolute;
    top: 130px;
    left: 250px;
    border: 4px solid white;

}


.about-first-title {
    background: linear-gradient(135deg, #6a11cb, #9644e2);
    background-clip: text;
    color: transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    filter: drop-shadow(0px 0px 15px #6a11cb);
    margin-bottom: 10px;
}

.about-first-text {
    font-size: 30px;
    font-weight: 700;
    color: rgb(50, 48, 48);
    font-family: 'Poppins', sans-serif;
}

.about-first-subtext {
    color: rgb(78, 75, 75);
    font-family: 'Poppins', sans-serif;
    width: 550px;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-shadow: 0px 0px 1px rgba(199, 166, 255, 0.35);
}

.about-special-services {
    background: linear-gradient(135deg, #6a11cb, #9644e2);
    background-clip: text;
    color: transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
}

#check {
    background: linear-gradient(135deg, #6a11cb, #9644e2);
    color: white;
    padding: 4px 5px;
    border-radius: 15px;
    font-size: 8px;
}

/* About Benefits */

.about-benefits-container {
    display: flex;
    justify-content: start;
    gap: 30px;
    line-height: 30px;
}

.about-benefits {
    color: rgb(78, 75, 75);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 13px;
}

.about-register {
    background-color: #6a11cb;
    width: fit-content;
    font-size: 14px;
    pointer-events: none;
}

.achievements-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    background: linear-gradient(135deg, #6a11cb, #9644e2);
}

.achievements-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 15px 20px;
    border-radius: 25px;
    transition: all 0.5s ease;
}

.achievements-section:hover {
    transform: scale(1.1);
}

.achievement-number {
    font-family: 'JetBrains Mono', monospace;
    font-weight: bold;
    font-size: 30px;
    color: white;
}

.achievement-title {
    font-family: 'JetBrains Mono', monospace;
    color: rgb(200, 196, 196);
    font-weight: 600;
}

.achievement1,
.achievement2,
.achievement3 {
    text-align: center;
    padding: 10px 0px;
}

#achievement-font1,
#achievement-font2,
#achievement-font3 {
    font-size: 30px;
}

#achievement-font1 {
    color: white;
}

#achievement-font2 {
    color: white;
}

#achievement-font3 {
    color: white;

}

/* Achievements Container 2 */


.achievement2 {
    border-right: 2px solid rgb(131, 129, 129);
    border-left: 2px solid rgb(131, 129, 129);
    padding: 0px 120px;
}

.about-goals {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-goals-head {
    background: linear-gradient(135deg, #6a11cb, #9644e2);
    background-clip: text;
    color: transparent;
    font-size: 15px;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
    filter: drop-shadow(0px 0px 15px #6a11cb);
    margin-bottom: 10px;
}

.about-goals-subhead {
    font-size: 25px;
    font-weight: 700;
    color: rgb(50, 48, 48);
    font-family: 'Poppins', sans-serif;
}

.about-goal-text {
    color: rgb(78, 75, 75);
    font-family: 'Poppins', sans-serif;
    width: 550px;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-shadow: 0px 0px 1px rgba(199, 166, 255, 0.35);
}

.about-page-img3 {
    width: 90%;
}

/* Students Review Container */


.students-review-container {
    padding-top: 130px;
}

.students-review-head {
    color: rgb(110, 30, 110);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'JetBrains Mono', monospace;
}

.students-review-subhead {
    font-size: 40px;
    font-weight: 700;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.students-review-subhead-text {
    color: rgb(87, 86, 86);
    font-family: 'JetBrains Mono', monospace;
}


.students-review-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.review-section {
    transition: all 0.5s ease;
}

.review-section:hover {
    transform: translateY(-5%);
}

.review-emoji {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-stars {
    color: rgb(225, 194, 19);
    font-size: 15px;
    filter: blur(0px 0px 1px rgb(225, 194, 19));
}

.quote-right {
    color: rgba(0, 0, 0, 0.2);
    font-size: 50px;
}

.review-text {
    width: 300px;
    font-size: 18px;
    color: rgb(87, 86, 86);
}

.review-student-img {
    display: inline-block;
}

.review-student-img2 {
    width: 46px;
    height: 46px;
    border-radius: 23px;
}

.review-user-container {
    line-height: 20px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
}

.review-user-name {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
}

.review-user-title {
    background: linear-gradient(135deg, #6a11cb, #9644e2);
    background-clip: text;
    color: transparent;
    font-weight: 700;
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
}


/* Value Section */

.value-section {
    margin-top: 100px;
}


.value-heading {
    color: rgb(110, 30, 110);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'JetBrains Mono', monospace;
}


.value-main {
    font-size: 30px;
    font-weight: 700;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.value-subhead {
    color: rgb(78, 75, 75);
    font-family: 'JetBrains Mono', monospace;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-shadow: 0px 0px 1px rgba(199, 166, 255, 0.35);
    font-weight: bold;
}

.value-container {
    margin-top: 30px;
}

.value-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#value-emoji {
    background: linear-gradient(135deg, #6a11cb, #9644e2);
    background-clip: text;
    color: transparent;
    font-size: 25px;
}

.value-cybersecurity {
    color: rgb(110, 30, 110);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: 'JetBrains Mono', monospace;
}

.value-cybersecurity-text {
    font-size: 17px;
    color: rgb(78, 75, 75);
    font-family: 'Poppins', sans-serif;
    width: 300px;
    letter-spacing: 0.5px;
}

.first-value {
    transition: all 0.5s ease;
}

.first-value:hover {
    background-color: #6a11cb;
    color: white;
    transform: translateY(-5%);
}

.first-value:hover .value-cybersecurity {
    color: white;
}

.first-value:hover #value-emoji {
    color: white;
    transform: scale(1.1)
}

.first-value:hover .value-cybersecurity-text {
    color: white;
}

/* Executive Team Members Section */


.courses-section {
    padding-top: 100px;
    padding-left: 45px;
}

.specialized-tracks-heading {
    font-size: 35px;
    color: black;
    font-weight: 600;
    padding-left: 35px;
    font-family: 'Poppins', sans-serif;
}

.specialized-tracks-subheading {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    padding-left: 35px;
    color: rgb(89, 88, 88);
}

.team-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
    position: relative;
    padding-right: 40px;

}


.team-member-01 {
    width: 120%;
    height: 70vh;
    border-radius: 15px;
}

.member-details {
    background-color: rgb(249, 245, 245);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: absolute;
    bottom: 15px;
    left: 85px;
}

.member-details2 {
    background-color: rgb(249, 245, 245);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: absolute;
    bottom: 15px;
    left: 420px;
}

.member-details3 {
    background-color: rgb(249, 245, 245);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    position: absolute;
    bottom: 15px;
    left: 753px;
}

/* Join Now Container */


.join-now-container {
    margin-top: 100px;
}

.join-now-section {

    background: linear-gradient(135deg, #7f00ff, #b721ff);
    padding: 40px 40px;
    margin: 30px 20px;
    border-radius: 20px;
}

.join-now-heading {
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 0.5px;
    color: white;
    font-size: 35px;
    font-weight: 500;
}

.join-now-subheading {
    color: rgb(211, 209, 209);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    text-align: center;
    font-weight: 500;
}

.closing-btn {
    display: flex;
    justify-content: center;
}

.sign-up-btn {
    background-color: rgb(232, 229, 229);
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    color: black;
    font-weight: 500;
    text-align: center;
}

.closing-contact-btn {
    background: transparent;
    border-radius: 5px;
    color: white;
    padding: 9px 20px;
    border: 2px solid white;
    font-size: 18px;
    margin-left: 10px;
}

/* Footer Section */


.footer-container {
    background: linear-gradient(rgba(2, 6, 23, .70)), url('sergey-zolkin-_UeY8aTI6d0-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    background-position: center;
    margin-top: 150px;
    transition: all 2s ease-in-out;
}


.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0px;
    gap: 40px;
}

.logo2 {
    width: 7%;
    margin-left: 30px;
    display: inline-block;
}

.footer-title,
.learning-path {
    font-weight: 600;
    color: whitesmoke;
    font-size: 20px;
}

.footer-text {
    width: 300px;
    color: rgb(189, 187, 187);
    font-family: 'JetBrains Mono', monospace;
}

.footer-socials {
    font-size: 20px;
    color: white;
    display: flex;
    gap: 20px;
}

.footer-icon {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 12px;
    border-radius: 33px;
}


.learning-paths-sections {
    color: rgb(189, 187, 187);
    font-family: 'JetBrains Mono', monospace;
    line-height: 35px;
    font-size: 18px;
}

#learning-paths-sections {
    color: rgb(189, 187, 187);
    font-family: 'JetBrains Mono', monospace;
}

/* Second Footer Container */

.second-footer {
    background: linear-gradient(rgba(2, 6, 23, .70));
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.copyright {
    color: rgb(186, 183, 183);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 13px;
}

#legals {
    color: rgb(186, 183, 183);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.5px;
    font-size: 13px;
}

.legals {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* Offcanvas-menubar */

.offcanvas {
    z-index: 2000;
        background: linear-gradient(rgba(8, 6, 28, 1));

}

#hamburger {
    display: none;
    color: rgb(215, 213, 213);
    font-size: 35px;
    padding-right: 20px;
    position: fixed;
    right: 10px;
}

.offcanvas-header {
    padding-top: 30px;
}

.offcanvas-title {
    font-family: 'JetBrains Mono', monospace;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.btn-close {
    font-size: 25px;
}

.offcanvas-container {
    line-height: 80px;
    font-size: 50px;
    padding-top: 25px;
}


.offcanvas-list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-transform: uppercase;
    color: rgb(213, 210, 210);
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 0.5px;
    font-size: 25px;
    text-shadow: 0 0 8px rgba(168, 85, 247, 0.6);
}

#offcanvas-list2 {
    padding-left: 20px;
}

.line {
    width: 20%;
    height: 2px;
    background-color: #6a11cb;
}


.begin-link:hover {
    background-color: rgb(110, 30, 110);
    transform: translateY(-5%);
    filter: drop-shadow(0px 0px 2px white);
    opacity: 0.9;
}

.begin-link {
    margin-right: 10px;
    background: linear-gradient(135deg, #6a11cb 100%, #2575fc 50%);
    border-radius: 5px;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 0.5px;
    font-size: 25px;
    transition: all 0.5s ease;
    position: relative;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

#offcanvas-social-platform {
    font-size: 28px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    cursor: pointer;
}

#offcanvas-social-platform:hover {
    transform: scale(1.3);
}



/* Responsiveness */

@media (max-width: 480px) {
    body {
        overflow-x: hidden;
    }

    .main-container {
        top: -5px;
        backdrop-filter: blur(10px);
    background: linear-gradient(rgba(8, 6, 28, 1));
    }

    .main-section {
        background: linear-gradient(rgba(2, 6, 23, .75)), url('aboutpage-main-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        background-position: bottom;
    }

    .logo {
        width: 30%;
        margin-left: 5px;
    }

    .ul {
        display: none;
    }

    .get-started-container {
        display: none;
    }

    #hamburger {
        display: block;
    }


    .about-us {
        font-size: 45px;
        margin-bottom: 20px;
        padding-top: 130px;
    }

    .about-us-text {
        font-size: 20px;
        line-height: 35px;
    }

    .main-btn-container {
        white-space: nowrap;
        margin: auto;
        margin-top: 15px;
        text-align: center;
    }

    .start-learning {
        font-size: 15px;

    }

    .contact-info {
        font-size: 15px;
    }

    .main-review-img {
        margin-top: 30px;
    }

    .review-figure {
        display: block;
        margin-left: 0px;
        margin-top: 20px;
        padding-bottom: 10px;
    }

    #whatsappbtn {
        font-size: 28px;
        position: fixed;
        bottom: 66px;
        right: 10px;
        height: 55px;
        width: 55px;
        border-radius: 50%;
        background-color: #25D366;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
        transition: all 0.5s ease;
    }

    #scrolltotop {
        right: 18px;
        bottom: 20px;
        top: auto;
        font-size: 12px;
        padding: 8px 12px;
        border-radius: 50px;
    }

    .about-first-imgs {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .about-first-title {
        background: linear-gradient(135deg, #6a11cb, #9644e2);
        background-clip: text;
        color: transparent;
        font-size: 15px;
        font-weight: bold;
        font-family: 'JetBrains Mono', monospace;
        filter: drop-shadow(0px 0px 15px #6a11cb);
        margin-bottom: 10px;
        padding-left: 10px;
        margin-top: 50px;
    }

    .about-first-text {
        font-size: 30px;
        font-weight: 700;
        color: rgb(50, 48, 48);
        font-family: 'Poppins', sans-serif;
        padding-left: 10px;
    }

    .about-first-subtext {
        color: rgb(78, 75, 75);
        font-family: 'Poppins', sans-serif;
        width: auto;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: 0.5px;
        text-shadow: 0px 0px 1px rgba(199, 166, 255, 0.35);
    }

    .about-special-services {
        background: linear-gradient(135deg, #6a11cb, #9644e2);
        background-clip: text;
        color: transparent;
        font-size: 15px;
        font-weight: bold;
        font-family: 'JetBrains Mono', monospace;
        padding-left: 10px;
    }

    #check {
        background: linear-gradient(135deg, #6a11cb, #9644e2);
        color: white;
        padding: 4px 5px;
        border-radius: 15px;
        font-size: 8px;
        margin-left: 10px;
    }

    .about-benefits-container {
        display: flex;
        justify-content: start;
        flex-direction: column;
    }

    .about-register {
        background-color: #6a11cb;
        width: fit-content;
        font-size: 14px;
        pointer-events: none;
        margin-left: 10px;
        margin-top: 10px;
    }

    .achievements-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 120px;
        background: linear-gradient(135deg, #6a11cb, #9644e2);
    }

    .achievements-section {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 120px;
        padding: 15px 20px;
        flex-direction: column;
        border-radius: 25px;
        transition: all 0.5s ease;
    }

    .achievement-number {
        font-family: 'JetBrains Mono', monospace;
        font-weight: bold;
        font-size: 50px;
        color: white;
    }

    .achievement-title {
        font-family: 'JetBrains Mono', monospace;
        color: rgb(200, 196, 196);
        font-weight: 600;
        font-size: 18px;
        white-space: nowrap;

    }

    .achievement2 {
        border: none;
        padding: 0px 120px;
    }


    .about-goals {
        margin-top: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .about-goals-head {
        background: linear-gradient(135deg, #6a11cb, #9644e2);
        background-clip: text;
        color: transparent;
        font-size: 15px;
        font-weight: bold;
        font-family: 'JetBrains Mono', monospace;
        filter: drop-shadow(0px 0px 15px #6a11cb);
        margin-bottom: 10px;
    }

    .about-goals-subhead {
        font-size: 25px;
        font-weight: 700;
        color: rgb(50, 48, 48);
        font-family: 'Poppins', sans-serif;

    }

    .about-goal-text {
        color: rgb(78, 75, 75);
        font-family: 'Poppins', sans-serif;
        width: 400px;
        padding-right: 30px;
        font-size: 17px;
        line-height: 30px;
        letter-spacing: 0.5px;
        text-shadow: 0px 0px 1px rgba(199, 166, 255, 0.35);
    }

    .about-page-img3 {
        width: 90%;
    }


    .students-review-container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
    }

    .value-container2 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        margin-top: 50px;
    }

    .team-section {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 100px;
        margin-top: 30px;
        position: relative;
        padding-right: 40px;

    }

    .courses-section {
        padding-top: 70px;
        padding-left: 16px;
        padding-right: 16px;
        text-align: center;
    }

    .about-goals-head {
        padding-left: 0 !important;
        /* override inline style */
        font-size: 15px;
        padding-right: 10px;
    }

    .specialized-tracks-heading {
        font-size: 25px;
        line-height: 1.3;
        padding-right: 30px;
        margin-bottom: 20px
    }

    .specialized-tracks-subheading {
        width: 100% !important;
        /* overrides w-50-lg / w-50-xl */
        font-size: 15px;
        line-height: 1.6;
        margin: 0 auto;
        padding-right: 40px;

    }

    .team-member-01 {
        width: 115%;
        height: 50vh;
        border-radius: 15px;
        margin-top: 30px;
    }


    .member-details {
        background-color: rgb(249, 245, 245);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        position: absolute;
        bottom: 1080px;
        left: 65px;
    }

    .member-details2 {
        background-color: rgb(249, 245, 245);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        position: absolute;
        bottom: 550px;
        left: 68px;
    }

    .member-details3 {
        background-color: rgb(249, 245, 245);
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        position: absolute;
        bottom: 20px;
        left: 65px;
    }

    /* Join Now Container */

    .join-now-container {
        margin-top: 200px;
    }


    .join-now-heading {
        font-family: 'JetBrains Mono', monospace;
        letter-spacing: 0.5px;
        color: white;
        font-size: 35px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    .join-now-subheading {
        color: rgb(211, 209, 209);
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.5px;
        text-align: center;
        font-weight: 500;
        margin-bottom: 10px;

    }

    .closing-btn {
        display: flex;
        justify-content: center;
        white-space: nowrap;
    }

    .sign-up-btn {
        background-color: rgb(232, 229, 229);
        border: none;
        padding: 12px 20px;
        border-radius: 5px;
        color: black;
        font-weight: 500;
        text-align: center;
    }

    .closing-contact-btn {
        background: transparent;
        border-radius: 5px;
        color: white;
        padding: 9px 20px;
        border: 2px solid white;
        font-size: 18px;
        margin-left: 10px;
    }


    .footer-section {
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 40px;
        padding-left: 10px;
    }

    .second-footer {
        background: linear-gradient(rgba(2, 6, 23, .70));
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 5px;
        padding-left: 10px;
        padding-right: 10px;
        flex-direction: column;
        gap: 10px;
    }

    .learning-path-container,
    .quick-links-section {
        margin-bottom: 20px;
    }

    .links {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        color: white;
    }




}